body{
    padding: 0px;
    margin: 0px;
}

.head{
    background: transparent;
    height: 70px;
}
.head .fixed_logo{
    display: none;

}

#carousel{
    background: cover/center ;
    background-image: url('../images/mainvisuals_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    margin: 0px;
    width: 100%;
    height: 632px;
    padding-top: 215px;
    padding-left: 173px;
}

.navbarHeader{
    background-color: white ;
    color:black;
}

.navbarHeader .top_logo{
    display: none;
}
.navbarHeader .fixed_logo{
    display: block;
}
.navbarHeader .nav-item{
    color:black;
}
nav{
    width: 95%;
    margin: 25px 40px 0px 40px;
    height: 40px; 
    padding: 0px;
    position:fixed;
    top:0;
    left: 0;
}

.navbar-brand{
    max-width: 78px;
    height: auto;
}

.navbar-nav{
    text-align: left;
}

.nav-item{
    font-weight: bold;
    font-size: 13px;
    font-style: Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
    letter-spacing: 0px;
}

.nav-item:hover{
    color: #FFFFFF;
}
.sec-pad {
    padding-top: 80px;
    padding-bottom: 80px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
.nsj-r, p, .bottom-text span, dd, li.cat-item a, body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    
}
.btn-white {
    background: #fff;
    color: #000;
    justify-content: center; 
    
    margin: 0 auto;
    margin-top: 50px;
    z-index: 1;
    border: 2px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
} 
.btn {
    width: 384px;
    max-width: 100%;
    height: 60px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
  
}

#btn-white{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
}
.overlay-text {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
#btn{
    background: #00AFCC 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    width: 117px;
    text-align: center;

}

#carouselHeading{
    font: normal normal normal 54px/61px A P-OTF A1Gothic Std;
    letter-spacing: -2.7px;
    color: #FFFFFF;
    text-shadow: 0px 3px 10px #00000029;
    opacity: 1;
}
#greetbtn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    color: #000;
    width: 384px;
    height: 60px;
    opacity: 1;
    border:none;
    font-weight:bolder;
}

#carouselbtn{
    background: #00AFCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00AFCC;
    border-radius: 100px;
    width: 384px;
    height: 60px;
    opacity: 1;
    border:none;
    font: normal normal bold 14px/20px Noto Sans JP;
    letter-spacing: 0px;
    color: #FFFFFF;
}
#greet{
    background-image: url("../images/greeting_pc.jpg");
    background-size: cover;
    background-position:top left;
    position: relative;
    text-align: left;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    opacity: 1;

} 
#content1 h6, #content1 h3{
    font: normal normal 900 14px/37px Noto Sans JP;
    letter-spacing: 0.56px;
    color: #232323;
}
#content1 h3{
   
    font-weight: bolder;
    font-size: 35px;
    
}
#content1 .sm_header{
    font: normal normal 200 14px/37px Montserrat;
    letter-spacing: 0.56px;
    color: #676767;
}
#content1 .card-title{
    font-weight: bold;
}
#content1  .card-text{
    font: normal normal normal 14px/25px Noto Sans JP;
    letter-spacing: 0.56px;
    color: #232323;
}
#carouselbtn:hover {
    background-color: transparent;
    color: white;
    border: solid 1px white;
}

.heading-style1 {
    color: #676767;
    font-style: normal;
    letter-spacing: normal;
    line-height: 2.25rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.heading-style1 {
    font-size: 0.875rem;
}

.heading-style1 span {
    display: block;
    line-height: 1;
    color: #232323;
}

span.main-span {
    font-size: 2rem;
    padding: 10px 0;
    letter-spacing: 1.28px !important;
}

.text1,
.heading-style1 span {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
}

.heading-style1 span.span1 {
    color: #676767;
    letter-spacing: 0.56px;
}

.span1,
.heading-style1 span.span1 {
    font-family: 'span1serrat', sans-serif;
    font-weight: 200;
}

.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.con-pad {
    padding-top: 80px;
    padding-bottom: 80px;
}

.challenge-box {
    position: relative;
    margin-bottom: 40px;
}

.challenge-box img {
    border-radius: 8px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

.challenge-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    font-weight: 400;
}

.challenge-text span {
    font-size: 1.938rem;
    position: absolute;
    top: -22px;
    left: 20px;
}

.challenge_container {
    max-width: 500px;
}

.container {
    max-width: 1280px;
}

.challenge-text span.span1 {
    font: normal normal 200 31px/37px Montserrat;
    letter-spacing: 1.24px;
    color: #000000;
}

.overlay-text {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    overflow-wrap: break-word;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dark {
    background: #000000;
}

.container860 {
    max-width: 860px;
}

#half-dark-bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 1) 30%);
}

#btn2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    color: #000;
    width: 384px;
    height: 80px;
    opacity: 1;
    border:none;
    font-weight:bolder;
}

#btn2:hover {
    background: transparent;
    color: #fff;
}